.landing-navbar {
  background-color: #0b0c2a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
}

.landing-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.landing-logo img {
  width: 35px;
  height: 35px;
}

.landing-links a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.landing-links a:hover {
  text-decoration: underline;
}
